body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
  }
  
main{
  min-height: 83vh;
}

  h1 {
    color: #28a745;
  }
  
  p {
    color: #6c757d;
  }
  
  header{
    background-color: #0074d9;
    height: 8vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  

  footer p{
    color: white;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: auto;
  }

  li:hover{
    color:#333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }